<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/4306/674306-h"
      alt=""
    />
  </div>
  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, modi
        quaerat quas totam quisquam dolor inventore sed porro nam vel laborum
        sequi voluptatem? Vitae dolor eaque, tempore cumque optio reprehenderit.
      </a>
    </p>
  </div>
</div>
