.container_small-card {
  width: 700px;

  margin-bottom: 15px;

  .container_small-card-content {
    display: flex;

    .small-card_photo {
      img {
        width: 200px;

        margin-right: 20px;
      }
    }

    .small-card_title {
      display: flex;
      align-items: center;
    }
  }

  .container_small-card-separator {
    margin-top: 15px;
  }
}
